@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: space-mono;
    src: url(../public/fonts/SpaceMono-Regular.ttf);
}

body{
        background: #0C0C0C;
}
*{

    color: rgb(211, 204, 204);
  font-family: space-mono;
}
